body {
    background-color: #000331;
    color: #6fa1c9;
    font-weight: bold;
}

footer {
    position: sticky;
    bottom: 0;
    height: 2.5rem;            /* Footer height */
}

#letterhead {
    font-family: 'Bodoni Moda', serif;
    font-size: 5rem;
    font-weight: bolder;
    padding: 1rem;
    border: 0.2rem solid #a9ca4d;
    margin: 0;
}

#title-img {
    border: 0.2rem solid #a9ca4d;
    padding: 0;
}

.letterbody {
    font-family: 'Bodoni Moda', serif;
}

.navbar-nav .nav-link {
    color: #6fa1c9;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(169, 202, 77, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(169, 202, 77);
  } 

  @media (max-width: 992px) {
    /* Add your CSS rules here for viewport widths <= 992px */
    .header {
      flex-direction: column;
    }
    .logo {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .nav {
      margin-left: 0;
    }
    .nav-item {
      margin-bottom: 10px;
    }
  }