body {
    background-color: #970e53;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;            /* Footer height */
}

#letterhead {
    font-family: 'Bodoni Moda', serif;
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem;
    border: 0.2rem solid black;
    margin: 0;
}

#title-img {
    border: 0.2rem solid black;
    padding: 0;
}

.letterbody {
    font-family: 'Bodoni Moda', serif;
}