body {
    background-color: #970e53;
    color: white;
}

#letterhead {
    border-style: solid;
    border-width: 0.3em;
    border-color: black;
    padding: 2em;
    margin: 2em;
}

#letterhead-text {
    font-size: 7em;
    padding-left: 2em;
    padding-right: 2em;
    white-space: nowrap;
    font-family: 'Bodoni Moda', serif;
}

.letterbody {
    font-family: 'Bodoni Moda', serif;
}